*{
    margin: 0;
    padding: 0;
    
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar ul li{
    display:inline-block;
    list-style: none;
    margin: 0 20px;
    font-family: cabin;

}
.navbar ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #924B8F;
}
.navbar ul button{
    background-color: #924B8F;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
}

.navbar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #924B8F;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul button:hover{
    transform: scale(1.08);
    cursor: pointer;
}
.content{
width: 100%;
position: absolute;
top: 20%;
text-align: center;
color: #6D0C70;
font-family:Raleway;


}
.content p{
    padding-top: 10px;
    color: rgba(0, 0, 0, 76%);
    font-family:Raleway;
}
.content button{
    background-color: #924B8F;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}
.content button:hover{
    transform: scale(1.08);
}
.image1{
    width: 685px;
    height: 402px;
    padding-top: 10px;
    margin: 1px auto;
    display: block;
}
